---
import Layout from "../../layouts/Layout.astro";
import { getLatestLaunchesById } from "../../services/spacex";
let launch;
const { id } = Astro.params;

if (id) {
  launch = await getLatestLaunchesById({ id });
}

/*export async function getStaticPaths() {
  const launches = await getLatestLaunches();

  return launches.map((launch) => ({
    params: { id: launch.id },
  }));
} --> Esto sirver para pasar las rutas dinamicas desde el front*/
---

<Layout title="Lanzamiento">
  <article>
    <img src={launch?.links.patch.small} alt="" />
    <h1 class="text-4xl">Launch #{launch?.flight_number}</h1>
    <p>{launch?.details}</p>
  </article>
</Layout>
